$gWUnit: 240px;
$gHUnit: 30px;
$gGap: 32px;
$titleColor: white;

@mixin border-containers {
    /* Border */
    background-clip: padding-box, border-box;
    background-color: #1A2028;
    background-origin: padding-box, border-box;
    border-radius: 30px;
    border: 1px solid transparent;
  }

html,
body {
    background-color: black;
    color: gray;
    font-family: 'Poppins', sans-serif;
    margin-top: 0px;
}
body {
    background-image: url("img/bg.svg");
    background-position: center;
    background-repeat: no-repeat;
}
.container {
    display: grid;
    grid-column-gap: $gGap;
    grid-row-gap: $gGap;
    grid-template-columns: repeat(6, $gWUnit);
    grid-template-rows: repeat(22, $gHUnit); 
    justify-content: center;  
    padding-top: 160px;
}

.light-bg {
    background: 
        linear-gradient(to right, #657d9c, #657d9c), 
        linear-gradient(to right, #414955 , #2c323b10); 
}
.dark-bg {
    background: 
        linear-gradient(to right, #1A2028, #1A2028), 
        linear-gradient(to right, #414955 , #2c323b10); 
}
.container {
    div {
        @include border-containers;
        h1 {
            color: $titleColor;
            font-size: 36px;
            font-weight: 500;
            margin: 20px;
        }
        .day {
            float: left;
            font-size: 16px;
            font-weight: 400;
            padding: 34px;
        }
        img {
            float: right;
        }
        #degrees {
            color: $titleColor;
            display: flex;
            font-size: 64px;
            font-weight: bold;
            justify-content: center;
            padding: 0px;
            position: relative;
            text-align: center;
            top: -34px;
            width: 100%;
        }
        .active-unit {
            color: $titleColor;
            font-weight: 500;
        }
        .punit {
            bottom: 10px;
            float: left;
            margin: 0px;
            position: relative;
            text-align: center;
            width: 100%;
            span {
                cursor: pointer;
                user-select: none;
            }
        }
        .moon-circle {
            float: left;
            width: 100%;
            img {
                background: #414955;
                border-radius: 50%;
                border: 1px;
                float: none;
                left: 12px;
                padding: 15px;
                position: relative;
                top: 50px;
            }
            .theme {
                position: relative;
                text-indent: 82px;
                top: -15px;
            }
            .title {
                color: $titleColor;
                display: block;
                font-size: 24px;
                font-weight: 500;
            }
            .text {
                display: block;
            }
            .switch-bg {
                background: black;
                border-radius: 25px;
                border: 1px solid black;
                float: right;
                height: 28px;
                left: -16px;
                position: relative;
                top: -42px;
                transform: translateY(-50%);
                width: 58px;
            }
            #switch-dot {
                background-color: #2B3FF2;
                border-radius: 50%;
                cursor: pointer;
                height: 24px;
                margin: 2px;
                width: 24px;
            }
            .switch-left {
                float: left;
            }
            .switch-right {
                float:right;
            }
        }
     }
}

.item-a {
    grid-column: 1/3;
    grid-row: 1/7;
}
.item-b {
    grid-column: 3/5;
    grid-row: 1/4;
}
.item-c {
    grid-column: 5/7;
    grid-row: 1/10;
}
.item-d {
    grid-column: 1/3;
    grid-row: 7/10;
}
.item-e {
    grid-column: 3/5;
    grid-row: 4/10;
}
.item-f {
    grid-column: 1/3;
    grid-row: 10/18;
}
.item-g {
    grid-column: 3;
    grid-row: 10/14;
}
.item-h {
    grid-column: 4;
    grid-row: 10/14;
}
.item-i {
    grid-column: 5/7;
    grid-row: 10/20;
}
.item-j {
    grid-column: 1/3;
    grid-row: 18/20;
}
.item-k {
    grid-column: 3;
    grid-row: 14/20;
}
.item-l {
    grid-column: 4;
    grid-row: 14/17;
}
.item-m {
    grid-column: 4;
    grid-row: 17/20;
}